# exclude all these below
.vs
gameTemplate/.vs
gameTemplate/Intermediate
Intermediate

*.db
./x64

# need these libs
!*.lib
x64/
gameCore/Data/Back1.png
gameCore/Data/Back2.png
gameCore/Data/george.png
gameCore/Data/kyo.png
gameCore/Data/laser-shot.wav
gameCore/Data/LP.mp3
gameCore/Data/raylib_logo.png
gameCore/Data/UV.png
gameCore/Data/Watermelon.mp3
gameCore/Data/zapslat.wav
README.txt
gameCore/Data/FontConfig.bmfc
gameCore/Data/FontSetup.bmfc
gameCore/Data/Scenes/test/
gameCore/Data/Scenes/Track/_Track_Close.png
gameCore/Data/Scenes/Track/_Track_Open.png
gameCore/Data/Sprites/VisualSprites.psd
